@model EuroPallets.ViewModels.ProductsViewModel.ProductsViewModel

@{
    string sortedby = string.Empty;
}

<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        @*==LEFT FILTER==*@
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            <h1>Filter By</h1>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Brands
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled checkbox-list">
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" checked />
                                        <i></i>
                                        Calvin Klein
                                        <small><a href="#">(23)</a></small>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" checked />
                                        <i></i>
                                        Gucci
                                        <small><a href="#">(4)</a></small>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" />
                                        <i></i>
                                        Adidas
                                        <small><a href="#">(11)</a></small>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" />
                                        <i></i>
                                        Puma
                                        <small><a href="#">(3)</a></small>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" />
                                        <i></i>
                                        Zara
                                        <small><a href="#">(87)</a></small>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->

            <div class="panel-group" id="accordion-v2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                                Categories
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled checkbox-list">
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" checked />
                                        <i></i>
                                        Clothes
                                        <small><a href="#">(23)</a></small>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" checked />
                                        <i></i>
                                        Glasses
                                        <small><a href="#">(4)</a></small>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" />
                                        <i></i>
                                        Shoes
                                        <small><a href="#">(11)</a></small>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->

            <div class="panel-group" id="accordion-v3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v3" href="#collapseThree">
                                Size
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled checkbox-list">
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" />
                                        <i></i>
                                        S
                                        <small><a href="#">(23)</a></small>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" checked />
                                        <i></i>
                                        M
                                        <small><a href="#">(4)</a></small>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" />
                                        <i></i>
                                        L
                                        <small><a href="#">(11)</a></small>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" />
                                        <i></i>
                                        XL
                                        <small><a href="#">(3)</a></small>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->

            <div class="panel-group" id="accordion-v4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v4" href="#collapseFour">
                                Price
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="slider-snap"></div>
                            <p class="slider-snap-text">
                                <span class="slider-snap-value-lower"></span>
                                <span class="slider-snap-value-upper"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->

            <div class="panel-group" id="accordion-v5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v5" href="#collapseFive">
                                Color
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-inline product-color-list">
                                <li><a href="#"><img src="assets/img/colors/01.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/colors/02.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/colors/03.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/colors/04.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/colors/05.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/colors/06.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/colors/07.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->

            <div class="panel-group margin-bottom-30" id="accordion-v6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v6" href="#collapseSix">
                                Rating
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="stars-ratings stars-ratings-label">
                                <input type="radio" name="stars-rating" id="stars-rating-5">
                                <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-4">
                                <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-3">
                                <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-2">
                                <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-1">
                                <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->
            <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-u-sea-shop btn-block">Reset</button>
        </div>
        @*==END LEFT FILTER==*@

        @using (Ajax.BeginForm("Ajax", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "loader",
            HttpMethod = "POST",
            UpdateTargetId = "results"
        }, null))
        {
            <div class="col-md-9">

                <div id="results">
                    @Html.Partial("_ProductsPartial", Model)
                </div>

                @*==PAGINATION==*@
                @if (Model.Pager.EndPage > 1)
                {
                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li>
                                <a href="~/Products/Index">First</a>
                            </li>
                            <li>
                                @*<a href="~/Products/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>*@
                                <a href="@Url.Action("Ajax","ProductWebApi",new {page= (Model.Pager.CurrentPage - 1) })">Предишна</a>
                            </li>
                        }

                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li class="@(page == Model.Pager.CurrentPage ? " active" : "" )">
                                @*<a href="~/Products/Index?page=@page">@page</a>*@
                                @*<a href="@Url.Action("Ajax","ProductWebApi",new {@page=page })">@page</a>*@
                                @*@Html.ActionLink(page.ToString(), "", new { @page = page })*@
                                <input type="submit" value="@page" name="page" class="pageButton" />
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li>
                                @*<a href="~/Products/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>*@
                            </li>
                            <li>
                                @*<a href="~/Products/Index?page=@(Model.Pager.TotalPages)">Last</a>*@
                            </li>
                        }
                    </ul>
                }
                @*<div class="text-center">
                        <ul class="pagination pagination-v2">
                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>*@
                @*==END PAGINATION==*@

            </div>
        }

    </div><!--/end row-->
</div><!--/end container-->
<!--=== End Content Part ===-->

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script>

        $(".btnAddToCart").on("click", function (e) {
            notification('Success', 'this was a success!');
            var userName = "@User.Identity.Name";

            var asd = $(this).parent();
            var elementhref = $(asd[0]).find(".product-review").attr("href");
            var productId = elementhref.charAt(elementhref.length - 1);
            $.ajax({
                url: WebApiResolveUrl('/api/WebApiControllers/ProductWebApi/AddItemToCard'),
                type: 'GET',
                data: { productId: productId, userName: userName },
                success: function (result) {
                },
                error: function (data) {
                    console.log(data);
                }
            })
        });


        $(".pageValue").click(function (e) {
            var selecedValue = $(this).text();

            var orderByValue = $(".sortedBy").text();

            redirectUrl(selecedValue, orderByValue);

            //$("#itemCountBtn").text(selecedValue);

            e.preventDefault();
        });

        $(".sortedBy").click(function () {
            var selecedValue = $(this).text();
            var pageValue = $(".pageValue").text();

            redirectUrl(pageValue, selecedValue);
        });

        function redirectUrl(pageValue, selectedValue) {
            if (window.location.href.includes("Index")) {
                window.location.href = ResolveUrl("/Index?page=" + pageValue + "&orderBy=" + selectedValue);
            }
            else {
                window.location.href = ResolveUrl("/Index?page=" + pageValue + "&orderBy=" + selectedValue);
            }
        };
        $(".dropdown-menu li a").click(function () {
            $("#itemCountBtn").val($(this).text());
        });

    </script>
}