@model EuroPallets.ViewModels.ProductsViewModel.ProductsViewModel

@{
    string sortedby = string.Empty;
}
<style>
    .custonBtn {
        display: block;
        width: 115px;
        height: 25px;
        background: #4E9CAF;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
</style>
<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        @*==LEFT FILTER==*@
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            <h1>Филтри:</h1>
            @foreach (var filter in Model.Filters)
            {
                <div class="panel-group" id="@filter.Id">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="@filter.Id" href="#@filter.Name">
                                    @filter.Name
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>


                        <div id="@filter.Name" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                    @foreach (var name in filter.Name_Choisen)
                                    {
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox" checked />
                                                <i></i>
                                                @name
                                                <small><a href="#">(23)</a></small>
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div><!--/end panel group-->

                @*<div class="panel-group" id="accordion-v2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                                        Categories
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="list-unstyled checkbox-list">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox" checked />
                                                <i></i>
                                                Clothes
                                                <small><a href="#">(23)</a></small>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox" checked />
                                                <i></i>
                                                Glasses
                                                <small><a href="#">(4)</a></small>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox" />
                                                <i></i>
                                                Shoes
                                                <small><a href="#">(11)</a></small>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group" id="accordion-v3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-v3" href="#collapseThree">
                                        Size
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="list-unstyled checkbox-list">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox" />
                                                <i></i>
                                                S
                                                <small><a href="#">(23)</a></small>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox" checked />
                                                <i></i>
                                                M
                                                <small><a href="#">(4)</a></small>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox" />
                                                <i></i>
                                                L
                                                <small><a href="#">(11)</a></small>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox" />
                                                <i></i>
                                                XL
                                                <small><a href="#">(3)</a></small>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group" id="accordion-v4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-v4" href="#collapseFour">
                                        Price
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="slider-snap"></div>
                                    <p class="slider-snap-text">
                                        <span class="slider-snap-value-lower"></span>
                                        <span class="slider-snap-value-upper"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group" id="accordion-v5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-v5" href="#collapseFive">
                                        Color
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="list-inline product-color-list">
                                        <li><a href="#"><img src="assets/img/colors/01.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/colors/02.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/colors/03.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/colors/04.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/colors/05.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/colors/06.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/colors/07.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group margin-bottom-30" id="accordion-v6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-v6" href="#collapseSix">
                                        Rating
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="stars-ratings stars-ratings-label">
                                        <input type="radio" name="stars-rating" id="stars-rating-5">
                                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                        <input type="radio" name="stars-rating" id="stars-rating-4">
                                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                        <input type="radio" name="stars-rating" id="stars-rating-3">
                                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                                        <input type="radio" name="stars-rating" id="stars-rating-2">
                                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                                        <input type="radio" name="stars-rating" id="stars-rating-1">
                                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

            }

            <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-u-sea-shop btn-block">Нулиране</button>
        </div>
        @*==END LEFT FILTER==*@

        @using (Ajax.BeginForm("Ajax", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "loader",
            HttpMethod = "POST",
            UpdateTargetId = "results"
        }, null))
        {

            <div class="col-md-9">

                @*==TOP FILTERS==*@
                <div class="row margin-bottom-5">
                    <div class="col-sm-3 result-category">
                        <h2>Men</h2>
                        @if (Session["Count"] != null)
                            {
                        <small class="shop-bg-red badge-results">@Session["Count"].ToString()</small>
                            }

                    </div>
                    <div class="col-sm-9">
                        <ul class="list-inline clear-both">
                            <li class="grid-list-icons">
                                <a href="shop-ui-filter-list.html"><i class="fa fa-th-list"></i></a>
                                <a href="shop-ui-filter-grid.html"><i class="fa fa-th"></i></a>
                            </li>
                            <li class="sort-list-btn">
                                <h3>Сортирай :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Най нови <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" class="filters">Най-продавани</a></li>
                                        <li><a href="#" class="filters">Цена възх.</a></li>
                                        <li><a href="#" class="filters">Цена низх.</a></li>
                                        <li><a href="#" class="filters">Отстъпка %.</a></li>
                                        <li><a href="#" class="filters">Рейтинг</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sort-list-btn">
                                <h3>Покажи :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" id="itemCountBtn" data-toggle="dropdown">
                                        10 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="pageValue" href="#">10</a></li>
                                        <li><a class="pageValue" href="#">20</a></li>
                                        <li><a class="pageValue" href="#">30</a></li>
                                        <li><a class="pageValue" href="#">50</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!--/end result category-->
                @*==END TOP FILTERS==*@

                <div id="results">
                    @Html.Partial("_ProductsPartial", Model)
                </div>

            </div>
        }

    </div><!--/end row-->
</div><!--/end container-->
<!--=== End Content Part ===-->

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        $(function(){
            //Add product to cart
            $(".btnAddToCart").on("click", function (e) {
                notification('Success', 'this was a success!');
                var userName = "@User.Identity.Name";

                var asd = $(this).parent();
                var elementhref = $(asd[0]).find(".product-review").attr("href");
                var productId = elementhref.charAt(elementhref.length - 1);
                $.ajax({
                    url: WebApiResolveUrl('/api/WebApiControllers/ProductWebApi/AddItemToCard'),
                    type: 'GET',
                    data: { productId: productId, userName: userName },
                    success: function (result) {
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })
            });

            //Click on pagger footer !
            $('.pageButton').on('click', function () {
                var currentVal = $(this).text();
                if (currentVal.replace(/\s/g, '') === '>') {
                    var oldSelectedPage = $('.pagination li.active a').text();

                    currentVal = parseInt(oldSelectedPage) + 1;
                } else if (currentVal.replace(/\s/g, '') === '<') {
                    var oldSelectedPage = $('.pagination li.active a').text();

                    currentVal = parseInt(oldSelectedPage) - 1;
                }

                var orderBy = $($('.sort-list-btn .btn')[0]).text();
                var pageValue = $($('.sort-list-btn .btn')[1]).text();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Ajax","Products")',
                    data: { page: currentVal, orderBy: orderBy, pageSize: pageValue },
                    success: function (data) {
                        $("#results").html(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })
            });


            //Click ot filters dropdown
            $('.filters').on('click', function () {
                var currentVal = $(this).text();

                $($('.sort-list-btn button')[0]).text(currentVal);
                $($('.sort-list-btn button')[0]).append('<span class="caret"></span>');

                var pageValue = $($('.sort-list-btn .btn')[1]).text();
                var currentPage = $('.pagination li.active a').text();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Ajax","Products")',
                    data: { page: currentPage, orderBy: currentVal, pageSize: pageValue },
                    success: function (data) {
                        $("#results").html(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

            //How many product on deal Filter
            $('.pageValue').on('click', function () {
                var currentVal = $(this).text();

                $($('.sort-list-btn button')[1]).text(currentVal);
                $($('.sort-list-btn button')[1]).append('<span class="caret"></span>');

                var currentPage = $('.pagination li.active a').text();
                var orderBy = $($('.sort-list-btn .btn')[0]).text();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Ajax","Products")',
                    data: { page: currentPage, orderBy: orderBy, pageSize: currentVal },
                    success: function (data) {
                        $("#results").html(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
        })
    </script>
}