@model EuroPallets.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <p>
                @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (p.AuthenticationType == "Facebook")
                        {
                        <button type="submit" class="btn btn-block  btn-success btn-facebook btn-outline"
                                id="@p.AuthenticationType" data-original-title="Facebook" style="padding-top: 5px"
                                name="provider" value="@p.AuthenticationType" title="@p.Caption">
                            <i class="fa fa-facebook"></i> @p.AuthenticationType
                        </button>
                    }
                    else if (p.AuthenticationType == "Google")
                    {
                        <button type="submit" class="btn btn-block btn-danger btn-google-plus btn-outline"
                                id="@p.AuthenticationType" data-original-title="Facebook" style="padding-top: 5px"
                                name="provider" value="@p.AuthenticationType" title="@p.Caption">
                            <i class="fa fa-google-plus"></i> @p.AuthenticationType
                        </button>
                    }
                }
            </p>


        }
    }
}
