@model EuroPallets.ViewModels.ResetPasswordViewModel

<link href="~/assets/css/pages/log-reg.css" rel="stylesheet" />
<style>
    .btm-margin-5 {
        margin-bottom: 5%;
    }
</style>

<div class="log-reg-v3 content-md margin-bottom-30">
    <div class="container">
        @if (TempData["EmailSend"] != null)
        {
            if (TempData["EmailSend"].Equals(true))
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Успешно изпратен Email.</strong> Моля провертете  вашият Email за повече информация!
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Грешно потребителско име !</strong> Моля въведете правилно потребителско име.
                </div>
            }
        }
        <div class="row btm-margin-5">
            <div class="col-md-7 md-margin-bottom-50">
                <h2 class="welcome-title">Добре дошли в Mebellete</h2>
                <div class="row margin-bottom-50">
                    <div class="col-sm-4 md-margin-bottom-20">
                        <div class="site-statistics">
                            <span>1,109</span>
                            <small>Продукта</small>
                        </div>
                    </div>
                    <div class="col-sm-4 md-margin-bottom-20">
                        <div class="site-statistics">
                            <span>54,283</span>
                            <small>Преглеждания</small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="site-statistics">
                            <span>+10 000</span>
                            <small>Продажби</small>
                        </div>
                    </div>
                </div>
                <div class="members-number">
                    <h3>Присъедини се към <span class="shop-green">257</span> градове за доставка</h3>
                    <img class="img-responsive" src="~/assets/img/forgot-password/fp-img.jpg" alt="доставка в цяла България">
                </div>
            </div>
            <div class="col-md-5">

                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h2>Създай нова парола</h2>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)


                    <div class="login-input reg-input">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Имейл адрес</h3>
                                <section>
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Имейл адрес", id = "email", required = "required", type = "email" })
                                    </label>
                                </section>
                            </div>
                            <div class="col-sm-12">
                                <h3>Нова парола</h3>
                                <section>
                                    <label class="input">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Парола", id = "email", required = "required", type = "email" })
                                    </label>
                                </section>
                            </div>
                            <div class="col-sm-12">
                                <h3>Повторете нова парола</h3>
                                <section>
                                    <label class="input">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Парола", id = "email", required = "required", type = "email" })
                                    </label>
                                </section>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-12">
                                <button id="btnSubmit" class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit"> Запиши</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>