@model EuroPallets.ViewModels.ProductsViewModel.ProductsViewModel

@*==PRODUCTS DETAILS==*@
<div class="filter-results">
    <div class="row illustration-v2 margin-bottom-30">
        @foreach (var currentFurniture in Model.EuroPalletFurniture)
        {
        <div class="col-md-4">
            <div class="product-img product-img-brd">
                <a href="#"><img class="full-width img-responsive" src=@Url.Action("Show", "Image", new { id = currentFurniture.Id }) alt=""></a>
                <a class="product-review" href=@Url.Action("ShowProductDetails", "Products", new { id = currentFurniture.Id })>Бърз преглед</a>
                <a class="add-to-cart btnAddToCart" href="#"><i class="fa fa-shopping-cart"></i>Добавяне в количката</a>
                <div class="shop-rgba-dark-green rgba-banner">Ново</div>
            </div>
            <div class="product-description product-description-brd margin-bottom-30">
                <div class="overflow-h margin-bottom-5">
                    <div class="pull-left">
                        <h4 class="title-price"><a href="shop-ui-inner.html">@currentFurniture.Name</a></h4>
                        <span class="gender text-uppercase">@currentFurniture.SubCategory</span>
                        <span class="gender">@currentFurniture.Name_Description</span>
                    </div>
                    <div class="product-price">
                        <span class="title-price">@currentFurniture.Price</span>
                        @*<span class="title-price line-through">@currentFurniture.Price</span>*@
                    </div>
                </div>
                <ul class="list-inline product-ratings">
                    <li><i class="rating-selected fa fa-star"></i></li>
                    <li><i class="rating-selected fa fa-star"></i></li>
                    <li><i class="rating-selected fa fa-star"></i></li>
                    <li><i class="rating fa fa-star"></i></li>
                    <li><i class="rating fa fa-star"></i></li>
                    <li class="like-icon"><a data-original-title="Добави в любими" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="OLD">
            @*<div class="col-md-4">
                    <div class="product-img product-img-brd">
                        <a href="#"><img class="full-width img-responsive" src="assets/img/blog/17.jpg" alt=""></a>
                        <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                <span class="gender text-uppercase">Men</span>
                                <span class="gender">Suits - Blazers</span>
                            </div>
                            <div class="product-price">
                                <span class="title-price">$60.00</span>
                                <span class="title-price line-through">$95.00</span>
                            </div>
                        </div>
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-img product-img-brd">
                        <a href="#"><img class="full-width img-responsive" src="assets/img/blog/18.jpg" alt=""></a>
                        <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                <span class="gender text-uppercase">Men</span>
                                <span class="gender">Suits - Blazers</span>
                            </div>
                            <div class="product-price">
                                <span class="title-price">$95.00</span>
                            </div>
                        </div>
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>*@
        </div>
        }
    </div>
    <div class="OLD">
        @*<div class="row illustration-v2 margin-bottom-30">
                <div class="col-md-4">
                    <div class="product-img product-img-brd">
                        <a href="#"><img class="full-width img-responsive" src="assets/img/blog/21.jpg" alt=""></a>
                        <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                <span class="gender text-uppercase">Men</span>
                                <span class="gender">Suits - Blazers</span>
                            </div>
                            <div class="product-price">
                                <span class="title-price">$95.00</span>
                            </div>
                        </div>
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-img product-img-brd">
                        <a href="#"><img class="full-width img-responsive" src="assets/img/blog/22.jpg" alt=""></a>
                        <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                <span class="gender text-uppercase">Men</span>
                                <span class="gender">Suits - Blazers</span>
                            </div>
                            <div class="product-price">
                                <span class="title-price">$60.00</span>
                                <span class="title-price line-through">$95.00</span>
                            </div>
                        </div>
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-img product-img-brd">
                        <a href="#"><img class="full-width img-responsive" src="assets/img/blog/23.jpg" alt=""></a>
                        <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        <div class="shop-rgba-red rgba-banner">Out of stock</div>
                    </div>
                    <div class="product-description product-description-brd">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                <span class="gender text-uppercase">Men</span>
                                <span class="gender">Suits - Blazers</span>
                            </div>
                            <div class="product-price">
                                <span class="title-price">$95.00</span>
                            </div>
                        </div>
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row illustration-v2">
                <div class="col-md-4">
                    <div class="product-img product-img-brd">
                        <a href="#"><img class="full-width img-responsive" src="assets/img/blog/16.jpg" alt=""></a>
                        <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        <div class="shop-rgba-dark-green rgba-banner">New</div>
                    </div>
                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                <span class="gender text-uppercase">Men</span>
                                <span class="gender">Suits - Blazers</span>
                            </div>
                            <div class="product-price">
                                <span class="title-price">$60.00</span>
                                <span class="title-price line-through">$95.00</span>
                            </div>
                        </div>
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-img product-img-brd">
                        <a href="#"><img class="full-width img-responsive" src="assets/img/blog/17.jpg" alt=""></a>
                        <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                <span class="gender text-uppercase">Men</span>
                                <span class="gender">Suits - Blazers</span>
                            </div>
                            <div class="product-price">
                                <span class="title-price">$60.00</span>
                                <span class="title-price line-through">$95.00</span>
                            </div>
                        </div>
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-img product-img-brd">
                        <a href="#"><img class="full-width img-responsive" src="assets/img/blog/18.jpg" alt=""></a>
                        <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                        <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
                                <span class="gender text-uppercase">Men</span>
                                <span class="gender">Suits - Blazers</span>
                            </div>
                            <div class="product-price">
                                <span class="title-price">$95.00</span>
                            </div>
                        </div>
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
    </div>
</div><!--/end filter resilts-->
@*==END PRODUCT DETAILS==*@

@*==PAGINATION==*@

@if (Model.Pager.EndPage > 1)
{
    <ul class="pagination">
        @if (Model.Pager.CurrentPage > 1)
        {
            @*<li>
                    <a href="~/Products/Index">First</a>
                </li>*@
            <li>
                <a href="#" class="pageButton" id="prewBtn"> < </a>
            </li>
        }

        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
        {
            <li class="@(page == Model.Pager.CurrentPage ? "active" : "" )">
            @*<li>*@
                <a href="#" class="pageButton">@page</a>
            </li>
        }

        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
        {
            <li>
                <a href="#" class="pageButton" id="nextBtn"> > </a>
            </li>
                @*<li>
                        <a href="~/Products/Index?page=@(Model.Pager.TotalPages)">Last</a>
                    </li>*@
        }
    </ul>
}
    @*==END PAGINATION==*@
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.pageButton').on('click', function () {
                var currentVal = $(this).text();
                if (currentVal.replace(/\s/g, '') === '>') {
                    var oldSelectedPage = $('.pagination li.active a').text();

                    currentVal = parseInt(oldSelectedPage) + 1;
                } else if (currentVal.replace(/\s/g, '') === '<') {
                    var oldSelectedPage = $('.pagination li.active a').text();

                    currentVal = parseInt(oldSelectedPage) - 1;
                }

                var orderBy = $($('.sort-list-btn .btn')[0]).text();
                var pageValue = $($('.sort-list-btn .btn')[1]).text();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Ajax","Products")',
                    data: { page: currentVal, orderBy: orderBy, pageSize: pageValue },
                    success: function (data) {
                        $("#results").html(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })
            });
        });
    </script>
