@*@model EuroPallets.ViewModels.MainViewModel.MainLayoutViewModel*@
@{  var userName = this.User.Identity.Name;}

@*@{
        var currentAction = this.ViewContext.RouteData.Values["action"].ToString();
        var currentController = this.ViewContext.RouteData.Values["controller"].ToString();
        var lang= this.Request.RequestContext.RouteData.Values["language"].ToString();
    }*@

<link href="~/assets/css/animate.css" rel="stylesheet">
<link href="~/assets/css/style.css" rel="stylesheet">

<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Изберете начин на плащане</h4>
                <small class="font-bold">..............</small>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Затвори</button>
                <button type="button" class="btn btn-primary">Напред</button>
            </div>
        </div>
    </div>
</div>
<!--=== Header v5 ===-->
<div class="header-v5 header-static" id="top-nav-bar">
    <!-- Topbar v3 -->
    <div class="topbar-v3">
        <div class="search-open">
            <div class="container">
                <input type="text" class="form-control" placeholder="Search">
                <div class="search-close"><i class="icon-close"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Topbar Navigation -->
                    <ul class="left-topbar">
                        <li>
                            <a>Currency (USD)</a>
                            <ul class="currency">
                                <li class="active">
                                    <a href="#">USD <i class="fa fa-check"></i></a>
                                </li>
                                <li><a href="#">Euro</a></li>
                                <li><a href="#">Pound</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Language (BG)</a>
                            <ul class="language">
                                @*<li>@Html.ActionLink("Български", currentAction, currentController, routeValues: new { language = "bg" }, htmlAttributes: null)</li>*@
                                @*<li>@Html.ActionLink("English", currentAction, currentController, routeValues: new { language = "en" }, htmlAttributes: null)</li>*@
                            </ul>
                        </li>
                    </ul><!--/end left-topbar-->
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-sm-6">
                        <ul class="list-inline right-topbar pull-right">
                            @if (User.IsInRole("Administrator"))
                            {
                                <li>@Html.ActionLink("Добавяне на продукт", "UploadNewItem", "Admin")</li>
                            }
                            <li><a href="#">Account</a></li>
                            <li><a href="shop-ui-add-to-cart.html">Wishlist (0)</a></li>
                            <li>Hello, @User.Identity.Name</li>
                            <li><i class="search fa fa-search search-button"></i></li>
                            <li>@Html.ActionLink("Log out", "LogOff", "Account")</li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="col-sm-6">
                        <ul class="list-inline right-topbar pull-right">
                            @*<li><a href="#">Account</a></li>*@
                            @*<li><a href="shop-ui-add-to-cart.html">Wishlist (0)</a></li>*@
                            <li>@Html.ActionLink("Влизане", "Login", "Account") | @Html.ActionLink("Регистрация", "Register", "Account")</li>
                            @*<li><i class="search fa fa-search search-button"></i></li>*@
                        </ul>
                    </div>
                }
            </div>
        </div><!--/container-->
    </div>
    <!-- End Topbar v3 -->
    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img id="logo-header" src="~/assets/img/logo-resz.png" alt="Logo">
                </a>
            </div>
            <!-- Shopping Cart -->

            @if (User.Identity.IsAuthenticated)
            {
                <div class="shop-badge badge-icons pull-right" onmouseover="showBasket()">
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    <span class="badge badge-sea rounded-x" id="CountBasket">5</span>
                    <div class="badge-open">
                        <ul class="list-unstyled mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" data-mcs-theme="minimal-dark" style="position: relative; overflow: visible;">
                            <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0">
                                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">

                                    @* Append _BasktPartial with Ajax*@

                                </div>
                            </div>
                            <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;">
                                <div class="mCSB_draggerContainer">
                                    <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px;" oncontextmenu="return false;">
                                        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                                    </div>
                                    <div class="mCSB_draggerRail"></div>
                                </div>
                            </div>
                        </ul>
                        <div class="subtotal">
                            <div class="overflow-h margin-bottom-10">
                                <span>Subtotal</span>
                                <span class="pull-right subtotal-cost">$1200.00</span>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href=@Url.Action("ShowUserCart","Products",new {userId = User.Identity.Name }) class="btn-u btn-brd btn-brd-hover btn-u-sea-shop btn-block">View Cart</a>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" id="btnModel" class="btn-u btn-u-sea-shop btn-block" data-toggle="modal" data-target="#myModal"> Купи </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

            <!-- End Shopping Cart -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <!-- Nav Menu -->
                <ul class="nav navbar-nav">
                    <!-- Продукти -->
                    <li class="dropdown mega-menu-fullwidth">
                        @*@Html.ActionLink("Продукти", "Index", "Products", new { page = 1, }, new { id = "allProducts", @class = "dropdown-toggle", data_hover = "dropdown", data_toggle = "dropdown" })*@
                        @Html.ActionLink("Продукти", "Index", "Products", routeValues: new { page = 1 }, htmlAttributes: null)

                        @*<a href='@Url.Action("Index","Products")' id="allProducts" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                Продукти
                            </a>*@
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-6">
                                                <h3 class="mega-menu-heading">Маси</h3>
                                                <ul class="list-unstyled style-list">
                                                    <li><a href="@Url.Action("Index","Products",new {Category = "Маси",isAll  = true })" class="topItem">Всички</a></li>
                                                    <li><a href="@Url.Action("Index","Products",new {Category = "Холни маси" })" class="topItem">Холни маси</a></li>
                                                    <li><a href="#" class="topItem">Градински маси</a></li>
                                                    <li><a href="#" class="topItem">Маси за кафе</a></li>
                                                    <li><a href="#" class="topItem">Нови</a> <span class="label label-danger-shop">New</span></li>
                                                    @*<li><a href="#">Skirts</a></li>
                                                        <li><a href="#">T-Shirts</a></li>*@
                                                </ul>
                                                <h3 class="mega-menu-heading">Дивани</h3>
                                                <ul class="list-unstyled style-list">
                                                    <li><a href="#">Всички</a></li>
                                                    <li><a href="#">Малки дивани</a></li>
                                                    <li><a href="#">Големи дивани</a></li>
                                                    <li><a href="#">Нови</a> <span class="label label-danger-shop">New</span></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2 col-sm-6">
                                                <h3 class="mega-menu-heading">Гардероби</h3>
                                                <ul class="list-unstyled style-list">
                                                    <li><a href="#">Всички</a></li>
                                                    <li><a href="#">Надстройки</a></li>
                                                    @*<li><a href="#">Scarvs &amp; Hats</a></li>
                                                        <li><a href="#">Jewellery</a></li>
                                                        <li><a href="#">Fragrance &amp; Beauty</a></li>*@
                                                </ul>
                                                <h3 class="mega-menu-heading">Бюра</h3>
                                                <ul class="list-unstyled style-list">
                                                    <li><a href="#">Всички</a></li>
                                                    <li><a href="#">Детски</a> <span class="label label-danger-shop">New</span></li>
                                                    <li><a href="#">Офис</a></li>
                                                </ul>
                                                <h3 class="mega-menu-heading">Закачалки</h3>
                                                <ul class="list-unstyled style-list">
                                                    <li><a href="#">Всички</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2 col-sm-6">
                                                <h3 class="mega-menu-heading">Спални</h3>
                                                <ul class="list-unstyled style-list">
                                                    <li><a href="#">Всички</a></li>
                                                    <li><a href="#">Спални</a></li>
                                                    <li><a href="#">Дизайнерски спални</a> <span class="label label-danger-shop">New</span></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2 col-sm-6">
                                                <h3 class="mega-menu-heading">Заведения</h3>
                                                <ul class="list-unstyled style-list">
                                                    <li><a href="#">Всички</a></li>
                                                    <li><a href="#">Комплекти маси с столове</a></li>
                                                    <li><a href="#">Бар столове</a></li>
                                                </ul>
                                                @*<h3 class="mega-menu-heading">Shoes</h3>
                                                    <ul class="list-unstyled style-list">
                                                        <li><a href="#">Boots</a></li>
                                                        <li><a href="#">Flats</a></li>
                                                        <li><a href="#">Heels</a></li>
                                                        <li><a href="#">Sandals</a></li>
                                                        <li><a href="#">Sports</a></li>
                                                    </ul>*@
                                            </div>
                                            @*<div class="col-md-2 col-sm-6">
                                                    <h3 class="mega-menu-heading">Accessories</h3>
                                                    <ul class="list-unstyled style-list">
                                                        <li><a href="#">All accessories</a></li>
                                                        <li><a href="#">Bags &amp; Purses</a></li>
                                                        <li><a href="#">Scarvs &amp; Hats</a></li>
                                                        <li><a href="#">Jewellery</a></li>
                                                        <li><a href="#">Fragrance &amp; Beauty</a></li>
                                                    </ul>
                                                    <h3 class="mega-menu-heading">Lingerie</h3>
                                                    <ul class="list-unstyled style-list">
                                                        <li><a href="#">Linger</a> <span class="label label-danger-shop">New</span></li>
                                                        <li><a href="#">Slippers</a></li>
                                                    </ul>
                                                    <h3 class="mega-menu-heading">Nightwear</h3>
                                                    <ul class="list-unstyled style-list">
                                                        <li><a href="#">Nightwear</a></li>
                                                        <li><a href="#">Socks</a></li>
                                                        <li><a href="#">Tights</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-md-2 col-sm-6">
                                                    <h3 class="mega-menu-heading">Mixed</h3>
                                                    <ul class="list-unstyled style-list">
                                                        <li><a href="#">New in</a></li>
                                                        <li><a href="#">Coats &amp; Jackets</a> <span class="label label-danger-shop">New</span></li>
                                                        <li><a href="#">Jeans</a></li>
                                                        <li><a href="#">Dresses</a></li>
                                                        <li><a href="#">Shorts</a></li>
                                                        <li><a href="#">Skirts</a></li>
                                                        <li><a href="#">T-shirts</a></li>
                                                        <li><a href="#">Boots</a></li>
                                                        <li><a href="#">Flats</a></li>
                                                        <li><a href="#">Heels</a></li>
                                                        <li><a href="#">Sandals</a></li>
                                                        <li><a href="#">Sports</a></li>
                                                        <li><a href="#">Socks</a></li>
                                                        <li><a href="#">Tights</a> <span class="label label-danger-shop">New</span></li>
                                                    </ul>
                                                </div>*@
                                        </div><!--/end row-->
                                    </div><!--/end container-->
                                </div><!--/end mega menu content-->
                            </li>
                        </ul><!--/end dropdown-menu-->
                    </li>
                    <!-- Край Продукти -->
                    <!-- Pages -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Страници
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="index.html">Shop UI</a></li>
                            <li><a href="/Products/Index">Всички продукти</a></li>
                            @*<li><a href="shop-ui-filter-grid.html">Filter Grid Page</a></li>
                                <li><a href="shop-ui-filter-list.html">Filter List Page</a></li>
                                <li><a href="shop-ui-add-to-cart.html">Checkout</a></li>
                                <li><a href="shop-ui-login.html">Login</a></li>
                                <li><a href="shop-ui-register.html">Register</a></li>*@
                        </ul>
                    </li>
                    <!-- End Pages -->
                    <!-- Promotion -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Промоции
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">Jeans</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Skinny Jeans</a></li>
                                    <li><a href="#">Bootcut Jeans</a></li>
                                    <li><a href="#">Straight Cut Jeans</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">Shoes</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sandals</a></li>
                                    <li><a href="#">Heels</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- End Promotion -->
                    <!-- Gifts -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Подаръци
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-12 col-xs-12 md-margin-bottom-30">
                                                <h3 class="mega-menu-heading">Pellentes que nec diam lectus</h3>
                                                <p>Proin pulvinar libero quis auctor pharet ra. Aenean fermentum met us orci, sedf eugiat augue pulvina r vitae. Nulla dolor nisl, molestie nec aliquam vitae, gravida sodals dolor...</p>
                                                <button type="button" class="btn-u btn-u-dark">Read More</button>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-4 md-margin-bottom-30">
                                                <a href="#"><img class="product-offers img-responsive" src="~/assets/img/blog/01.jpg" alt=""></a>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-4 sm-margin-bottom-30">
                                                <a href="#"><img class="product-offers img-responsive" src="~/assets/img/blog/02.jpg" alt=""></a>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-4">
                                                <a href="#"><img class="product-offers img-responsive" src="~/assets/img/blog/03.jpg" alt=""></a>
                                            </div>
                                        </div><!--/end row-->
                                    </div><!--/end container-->
                                </div><!--/end mega menu content-->
                            </li>
                        </ul><!--/end dropdown-menu-->
                    </li>
                    <!-- End Gifts -->
                    <!-- Clothes -->
                    @*<li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="1000">
                                Clothes
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Jeans</a></li>
                                <li><a href="#">T-shirts</a></li>
                                <li><a href="#">Shorts</a></li>
                            </ul>
                        </li>*@
                    <!-- End Clothes -->
                    <!-- Main Demo -->
                    @*<li><a href="../index.html">Main Demo</a></li>*@
                    <!-- Main Demo -->
                </ul>
                <!-- End Nav Menu -->
            </div>
        </div>

    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header v5 ===-->


<script>
    function showBasket() {
        debugger
        $.ajax({
            url: "/Products/BasketHomePage",
            method: "POST",
            success: function (data) {
                debugger
                $("#mCSB_1_container").html('');
                $("#mCSB_1_container").append(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }



</script>

